<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    
    <key>CFBundleExecutable</key>
    <string>immersive-player</string>
    
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    
    <key>CFBundleIdentifier</key>
    <string>com.immersiveplayer.app</string>
    
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    
    <key>CFBundleName</key>
    <string>Immersive Player</string>
    
    <key>CFBundleDisplayName</key>
    <string>Immersive Player</string>
    
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    
    <key>CFBundleVersion</key>
    <string>1</string>
    
    <key>LSMinimumSystemVersion</key>
    <string>10.15</string>
    
    <key>NSHighResolutionCapable</key>
    <true/>
    
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.video</string>
    
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2024 Immersive Player Team. All rights reserved.</string>
    
    <!-- Document types for HAP video files -->
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>HAP Video</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>mov</string>
                <string>avi</string>
                <string>mp4</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Immersive Player Project</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>ron</string>
            </array>
        </dict>
    </array>
    
    <!-- GPU requirements -->
    <key>GPUEjectPolicy</key>
    <string>wait</string>
    
    <key>GPUSelectionPolicy</key>
    <string>preferRemovable</string>
</dict>
</plist>


